@import 'global';
@import 'vars';
@import 'fonts';


@media (max-width:1700px){
    .schedule__inner{
        max-width: 1700px;
        height: 1000px;
        padding: 50px;
    }
    
    .schedule__box{
        width: 100%;
        height: 100%;
    }
    
    .schedule__link{
        a{
            max-width: 431px;
            height: 44px;
            font-size: 36px;
            padding: 5px 92px;
        }
    }
    
    .star__box{
        padding: 20px 300px;   
    }
    
    .star__mini{
        width: 110px;
        height: 99px;
    }
    .star__max{
        width: 125px;
        height: 109px;
    }
    .schedule__title{
        font-size: 110px;
    }
    .schedule__item-box{
        padding: 18px 40px;
    }
    .schedule__item{
        max-width: 616px;
    }
    
    .schedule{
        margin-top: 176px;
    }
    .title__text{
        font-size: 45px;
    }
    .title__price{
        font-size: 37px;
    }
    
    .schedule__item-text{
        font-size: 30px;
    }
    
    .poloska{
        width: 109px;
        height: 9px;
    }
}


@media (max-width:1450px){
    .schedule__inner{
        max-width: 1700px;
        height: 700px;
        padding: 40px;
    }
    
    .schedule__box{
        width: 100%;
        height: 100%;
    }
    
    .schedule__link{
        a{
            max-width: 301px;
            height: 31px;
            font-size: 25px;
            padding: 5px 65px;
        }
    }
    
    .star__box{
        padding: 20px; 
        margin-left: 350px;
    }

    
    .star__mini{
        width: 77px;
        height: 70px;
    }
    .star__max{
        width: 88px;
        height: 76px;
    }
    .schedule__title{
        font-size: 77px;
    }
    .schedule__item-box{
        padding: 18px 40px;
    }
    .schedule__item{
        max-width: 431px;
    }
    
    .schedule{
        margin-top: 123px;
    }
    .title__text{
        font-size: 32px;
    }
    .title__price{
        font-size: 26px;
    }
    
    .schedule__item-text{
        font-size: 21px;
    }
    
    .poloska{
        width: 76px;
        height: 7px;
    }

    .schedule__item-box{
        justify-content: space-around;
    }
}

@media (max-width:1400px){
    .header__inner{
        max-width: 1400;
        height: 794px;
    }
    .header__text{
        padding: 165px 0px 210px 0px;
        &-top{
            font-size: 100px;
        }
        &-middle{
            width: 940px;
            height: 162px;
        }
        &-bottom{
            font-size: 45px;
            margin-top: 35px;
        }
    }

    .trainer__box-polosa{
        width: 100%;
        height: 290px;
    }
    .trainer__name-top{
        font-size: 51px;
    }
    .trainer__name-middle{
        font-size: 88px;
    }
    .trainer__name-bottom{
        font-size: 36px;
    }
    .trainer__name-woman{
        margin-left: 0px;
    }
    .trainer__name-man {
        margin-right: 0px;
    }
}

@media (max-width:1300px){
    .content__oval{
        width: 350px;
        height: 350px;
    }
    
    .content__img{
        width: 308px;
        height: 308px;
        left: 21px;
        top:26px;
    }
    
    .content__info-title{
        font-size: 22px;
    }
    
    .content__info-text{
        font-size: 17px;
        max-width: 420px;
        margin-bottom: 14px;
    }

    .star__box{
        margin-left: 250px;
    }
}


@media (max-width:1200px){
    .header__inner{
        max-width: 1120;
        height: 635px;
    }
    .header__text{
        padding: 132px 0px 168px 0px;
        &-top{
            font-size: 80px;
        }
        &-middle{
            width: 752px;
            height: 130px;
        }
        &-bottom{
            font-size: 36px;
            margin-top: 35px;
        }
    }

    .gloves__img{
        width: 400px;
        height: 318px;
        margin-top: 40px;
    }
    
    .gloves__text-top{
        font-size: 66px;
    }
    
    .gloves__text-middle{
        font-size: 100px;
    }

    .gloves__stars{
        width: 365px;
        height: 108px;
        margin-top: 50px;
    }
}

@media (max-width:1150px){
    .schedule__inner{
        max-width: 1200px;
        height: 460px;
        padding: 28px;
        
    }
    
    .schedule__box{
        width: 100%;
        height: 100%;
    }
    
    .schedule__link{
        a{
            max-width: 210px;
            height: 22px;
            font-size: 18px;
            padding: 5px 45px;
        }
    }
    
    .star__box{
        padding: 20px; 
        margin-left: 30%;
    }

    
    .star__mini{
        width: 54px;
        height: 49px;
    }
    .star__max{
        width: 62px;
        height: 53px;
    }
    .schedule__title{
        font-size: 54px;
    }
    .schedule__item-box{
        padding: 18px 30px;
    }
    .schedule__item{
        max-width: 300px;
    }
    
    .schedule{
        margin-top: 86px;
    }
    .title__text{
        font-size: 23px;
    }
    .title__price{
        font-size: 18px;
    }
    
    .schedule__item-text{
        font-size: 15px;
    }
    
    .poloska{
        width: 53px;
        height: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .schedule__item-box{
        justify-content: space-around;
    }
}

@media (max-width:1000px){
    .header__inner{
        max-width: 1000px;
        height: 445px;
    }
    .header__text{
        padding: 93px 0px 118px 0px;
        &-top{
            font-size: 56px;
        }
        &-middle{
            width: 526px;
            height: 91px;
        }
        &-bottom{
            font-size: 25px;
            margin-top: 35px;
        }
    }
}

@media (max-width:900px){
    .content__oval{
        width: 270px;
        height: 270px;
    }
    
    .content__img{
        width: 236px;
        height: 236px;
        left: 15px;
        top:20px;
    }
    
    .content__info-title{
        font-size: 18px;
    }
    
    .content__info-text{
        font-size: 14px;
        max-width: 294px;
        margin-bottom: 14px;
    }
    .star__box{
        padding: 20px; 
        margin-left: 25%;
    }
}

@media (max-width:850px){
    
    .gloves__img{
        width: 280px;
        height: 223px;
        margin-top: 28px;
    }
    
    .gloves__text-top{
        font-size: 46px;
    }
    
    .gloves__text-middle{
        font-size: 70px;
    }

    .gloves__stars{
        width: 255px;
        height: 76px;
        margin-top: 35px;
    }
}

@media (max-width:800px){
    .schedule__item-box{
        display: block;
    }
    .schedule__item{
        max-width: 800px;
    }
    .poloska{
        display: none;
    }
    .star__box{
        margin-left: 20%;
        padding: 10px 20px;
    }
    .schedule__item-text{
        margin-bottom: 20px;
    }
    .star__mini{
        width: 32px;
        height: 30px;
    }
    .star__max{
        width: 37px;
        height: 37px;
    }
    .schedule__title {
        font-size: 37px;
    }
    .star__box{
        width: 300px;
        margin: 0 auto;
    }
    .schedule__item-box{
        padding: 0px 30px;
    }
}

@media (max-width:700px){
    .header__inner{
        max-width: 700px;
        height: 311px;
    }
    .header__text{
        padding: 65px 0px 83px 0px;
        &-top{
            font-size: 39px;
        }
        &-middle{
            width: 368px;
            height: 64px;
        }
        &-bottom{
            font-size: 18px;
            margin-top: 35px;
        }
    }
}

@media (max-width:650px){
    .content__box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .content__info-text{
        max-width: 400px;
    }

    .oval_top{
        display: block;
        margin: 0 auto;
    }

    .oval_bottom{
        display: none;
    }

    .content__box{
        text-align: center;
    }

    .content__info-title{
        margin-top: 20px;
    }
    .content__info-text{
        margin-top: 10px;
    }
}


@media (max-width:600px){
    
    .gloves__img{
        width: 168px;
        height: 134px;
        margin-top: 18px;
    }
    
    .gloves__text-top{
        font-size: 28px;
    }
    
    .gloves__text-middle{
        font-size: 42px;
    }

    .gloves__stars{
        width: 153px;
        height: 46px;
        margin-top: 21px;
    }

    .star__mini {
        width: 19px;
        height: 18px;
    }
    
    .star__max {
        width: 22px;
        height: 22px;
    }
    .schedule__title {
        font-size: 22px;
    }

    .star__box {
        width: 200px;
    }
    .title__text {
        font-size: 16px;
    }
    .title__price {
        font-size: 14px;
        margin-top: 3px;
        margin-left: 5px;
    }
    .schedule__item-text{
        font-size: 13px;
        margin-bottom: 10px;
    }
    
    .schedule__inner {
        max-width: 1200px;
        height: 320px;
        padding: 15px;
    }
    .schedule{
        margin-top: 30px;
    }

    .content__oval {
        width: 190px;
        height: 190px;
    }
    .content__img {
        width: 165px;
        height: 165px;
        left: 11px;
        top: 14px;
    }
    .trainer__name-top{
        font-size: 36px;
    }
    .trainer__name-middle{
        font-size: 62px;
    }
    .trainer__name-bottom{
        font-size: 25px;
    }
}

@media (max-width:500px){
    .schedule__inner {
        height: 450px;
        padding: 15px;
    }
}

@media (max-width:450px){
    .header__inner{
        max-width: 500px;
        height: 210px;
    }
    .header__text{
        padding: 40px 0px 20px 0px;
        &-top{
            font-size: 25px;
        }
        &-middle{
            width: 257px;
            height: 45px;
        }
        &-bottom{
            font-size: 16px;
            margin-top: 15px;
        }
    }

    .gloves__img{
        width: 135px;
        height: 107px;
        margin-top: 15px;
    }
    
    .gloves__text-top{
        font-size: 23px;
    }
    
    .gloves__text-middle{
        font-size: 34px;
    }

    .gloves__stars{
        width: 122px;
        height: 37px;
        margin-top: 17px;
    }

    .content__info-text{
        max-width: 280px;
    }
    
    .content__oval{
        width: 190px;
        height: 190px;
    }
    
    .content__img{
        width: 165px;
        height: 165px;
        left: 12px;
        top:16px;
    }

    .trainer__box-polosa{
        height: 200px;
    }
}

@media (max-width:400px){
    .trainer__mob{
        display: block;
        
    }
    .ov{
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .trainer{
        display: none;
    }
}
@media (max-width:370px){
    .schedule__inner {
        height: 450px;
        padding: 15px;
    }

    

}
@media (max-width:330px){
.schedule__inner {
    height: 500px;        
}
}
