@import 'global';
@import 'vars';
@import 'fonts';

.header__inner{
    @include ibg;
    max-width: 1920;
    height: 1088px;
}

.header__text{
    text-align: center;
    padding: 265px 0px 310px 0px;
    &-top{
        font-size: 150px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
    }
    &-middle{
        @include ibg;
        width: 1305px;
        height: 225px;
        margin: 0 auto;
    }
    &-bottom{
        font-size: 62.5px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        margin-top: 55px;
    }
}

.gloves__img{
    @include ibg;
    width: 501px;
    height: 398px;
    margin: 0 auto;
    margin-top: 50px;
}

.gloves__text-top{
        font-size: 83.333px;
        color: rgb(228, 183, 131);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
}

.gloves__text-middle{
    font-size: 125px;
    color: rgb(188, 17, 52);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.gloves__stars{
    width: 457px;
    height: 135px;
    @include ibg;
    margin: 0 auto;
    margin-top: 50px;
}

.content__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content__oval{
    @include ibg;
    width: 500px;
    height: 500px;
    position: relative;
}

.content__img{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    @include ibg;
    position: absolute;
    left: 30px;
    top:35px;
}

.content__info-title{
    font-size: 32px;
    color: rgb(188, 17, 52);
    font-weight: bold;
    line-height: 1.2;
}

.content__info-text{
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    max-width: 600px;
    margin-bottom: 20px;
}

.schedule__inner{
    @include ibg;
    max-width: 1920px;
    height: 1260px;
    padding: 175px;
}

.schedule__box{
    @include ibg;
    width: 1557px;
    height: 915px;
    
 
}

.schedule__link{
    text-align: center;
    a{
        text-decoration: none;
        max-width: 490px;
        height: 50px;
        background-color: rgb(188, 17, 52);    
        border-radius: 10px;
        font-size: 41.667px;
        color: rgb(244, 246, 250);
        font-weight: bold;
        line-height: 1.2;
        padding: 5px 105px;
    }
}

.star__box{
    display: flex;
    padding: 20px 380px;   
}

.star__mini{
    width: 126px;
    height: 112px;
    @include ibg;
}
.star__max{
    width: 142px;
    height: 124px;
    @include ibg;
}
.schedule__title{
    font-size: 125px;
    color: rgb(244, 246, 250);
    font-weight: bold;
    line-height: 1.2;
    
}
.schedule__item-box{
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    
}
.schedule__item{
    max-width: 700px;
}

.schedule{
    margin-top: 200px;
}
.title__text{
    font-size: 52px;
    color: rgb(188, 17, 52);
    font-weight: bold;
    line-height: 1.2;
    
}
.title__price{
    font-size: 42px;
    color: rgb(3, 41, 102);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 5px;
    margin-left: 10px;
    
}
.title{
    display: flex;
}

.schedule__item-text{
    font-size: 34px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.poloska{
    width: 124px;
    height: 10px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.trainer__imgbox{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.trainer__box-polosa{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    @include ibg;
    width: 1330px;
    height: 294px;
    padding-top: 30px;

}

.trainer__name{
    &-man{
        margin-right: 100px;
    }    

    &-woman{
        margin-left: 100px;
    }    

    &-top{
        color: rgb(188, 17, 52);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        font-size: 73px;
    }
    &-middle{
        color: rgb(188, 17, 52);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        font-size: 125px;
    }
    &-bottom{
        color: rgb(188, 17, 52);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        font-size: 52px;
        color: rgb(3, 41, 102);
    }
}

.oval_top{
    display: none;
}

.trainer__mob{
    display: none;  
}

@import 'media';
//end present box

